.board {
    width: 80vw;
    height: 80vw;
    max-width: 700px;
    max-height: 700px;

    background-color: #fff;
    box-shadow: 1px 5px 11px 1px rgba(182, 181, 181, 0.5);

    background-image: url('../../static/img/board_icy_sea.png');
    background-size: cover;

    position: relative;
}
/* 
@media (max-width: 800px) {
    .block {
        margin: 30px;
        width: calc(100vw - 150px);
        height: calc(100vw - 150px);
    }
}
@media (max-width: 650px) {
    .block {
        margin: 30px;
        width: calc(100vw - 50px);
        height: calc(100vw - 50px);
    }
}
@media (max-width: 300px) {
    .block {
        width: 250px;
        height: 250px;
    }
} */
.piece {
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 10vw;
    max-width: 88px;
    max-height: 88px;
    background-size: cover;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
}
/* Стили для фигуры во время перетаскивания */
.dragging {
  opacity: 0.7; /* Снижаем прозрачность фигуры при перетаскивании */
  z-index: 2; /* Перемещаем фигуру наверх, чтобы она была выше других элементов */
}